<table id="movies-table" data-controller-name="<%= controller_name %>" data-controller-action="<%= action_name %>">
  <!-- render movies -->
  <tr>
    <th>Name</th>
    <th>Release Date</th>
  </tr>
</table>
