<%= form_tag movies_path, method: :post, id: 'new-movie-form' do %>
<%= label_tag :title %>
<%= text_field_tag 'movie[title]'  %>
<br>
<%= submit_tag "Add Movie", id: 'submit-movie' %>
<% end %>

<table id="movies-table">
  <!-- render movies -->
  <tr>
    <th>Name</th>
    <th>Release Date</th>
  </tr>

  <tbody id="movie-table-body">

  </tbody>
</table>
