// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.added-row td {
  max-height: 0;
  overflow-y: hidden;
}

.showing-row td {
  transition-duration: 1s;
}
